#############################
#        JAVA / MAVEN       #
#############################

target/
*.class
*.jar
*.war
*.ear
*.log

# Evitar targets dentro de módulos
!**/src/main/**/target/
!**/src/test/**/target/

#############################
#         REPORTES          #
#############################

# Extent Reports
extent-reports/
reports/

# TestNG & Surefire
surefire-reports/

# Allure (por si lo usas después)
allure-results/
allure-report/

# Cucumber Reports (si agregas BDD)
cucumber-report/
cucumber-html-reports/

#############################
#        SELENIUM           #
#############################

# Screenshots automáticos
screenshots/
screenshots/*.png

# Permitir imágenes de documentación
docs/
!docs/**/*.png

#############################
#         IDEs              #
#############################

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

#############################
#         VS CODE           #
#############################

.vscode/

#############################
#    SISTEMA OPERATIVO      #
#############################

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

#############################
#     ARCHIVOS TEMPORALES   #
#############################

*.tmp
*.temp
*.cache
*.swp
*.bak
